._ {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
}

.block {
  display: flex;
  width: 100%;
}
