:root {
  --main-background-color: #fff;
}

._ {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
  flex-direction: column;
  padding: 6rem;
  width: 100vw;
  height: 100vh;
}
