@import "~antd/dist/antd.css";

.App {
  height: 750px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(90deg, rgba(239,239,237,1) 0%, rgba(255,255,255,1) 1%, rgba(195,195,195,1) 13%, rgba(224,224,224,1) 35%, rgba(186,226,234,1) 100%); */
  background-color:  #d1e2f2;
  /* background-image: url(blue-letters-isometric-projection-on-1812434.jpg); */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
